/*  ################################################################

  File Name: style.css
  Template Name: Lenard
  
  0) DRUPAL
  1) RESET CSS
  2) SKELETON 
  3) HEADER
  4) PORTFOLIO
  5) SECTIONS
  6) BLOGS
  7) SIDEBARS
  8) TITLES
  9) CONTACT
  10) BUTTONS
  11) MODULES
  12) SERVICES
  13) RESPONSIVE
  14) OTHERS

################################################################# */
/* DRUPAL */

img {
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
}
table {
    border: 0;
    border-spacing: 0;
    font-size: 0.857em;
    margin: 10px 0;
    width: 100%;
}
table table {
    font-size: 1em;
}
table tr th {
    background: #757575;
    background: rgba(0, 0, 0, 0.51);
    border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
    color: #fff;
    font-weight: bold;
}
table tbody tr th {
    vertical-align: top;
}
tr td,
tr th {
    padding: 4px 9px;
    border: 1px solid #fff;
    text-align: left;
    /* LTR */
}
tr.odd {
    background: #e4e4e4;
    background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
    background: #efefef;
    background: rgba(0, 0, 0, 0.063);
}
table ul.links {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
table ul.links li {
    padding: 0 1em 0 0;
}
.contextual-region .contextual .contextual-links a {
    font-size: 0.923em;
    text-shadow: 0 0 0 !important;
}
.item-list .pager li {
    padding: 0;
}
.item-list .pager a,
.item-list .pager .pager-current {
    display: inline-block;
    padding: 10px 15px;
}
.item-list .pager .pager-first a {
    padding: 10px 10px 10px 0;
}
ul.menu li {
    margin: 12px 0;
}
ul.menu li a {
    padding: 10px 0;
}
ul.tips {
    padding: 0 0 0 1.25em;
    /* LTR */
}
#skip-link {
    left: 50%;
    margin-left: -5.25em;
    margin-top: 0;
    position: absolute;
    width: auto;
    z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    font-size: 0.94em;
    line-height: 1.7;
    padding: 1px 10px 2px 10px;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
    outline: 0;
}
/* Toolbar */

body.toolbar .headerwrap {
    margin-top: 30px!important;
}
body.toolbar-drawer .headerwrap {
    margin-top: 64px!important;
}
body.toolbar .overlay-boxify.open {
    margin-top: 30px;
}
body.toolbar-drawer .overlay-boxify.open {
    margin-top: 64px;
}
#toolbar {
    z-index: 50002;
}
#overlay-container,
.overlay-modal-background,
.overlay-element {
    z-index: 50000;
}
.overlay-element {
    z-inde: 50001
}
/* Help */

.region-help {
    border: 1px solid #d3d7d9;
    padding: 0 1.5em;
    margin-bottom: 30px;
}
/* Content */

.content {
    margin-top: 0;
}
.node-teaser .content {
    font-size: 1em;
}
.node-teaser h2 {
    margin-top: 0;
    padding-top: 0.5em;
}
.node-teaser h2 a {
    color: #181818;
}
.node-teaser {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.node-sticky {
    background: #f9f9f9;
    background: rgba(0, 0, 0, 0.024);
    border: 1px solid #d3d7d9;
    padding: 0 15px 15px;
}
.node-full {
    background: none;
    border: none;
    padding: 0;
}
.node-teaser .content {
    clear: none;
    line-height: 1.6;
}
.meta {
    font-size: 0.857em;
    color: #68696b;
    margin-bottom: 10px;
}
.field-type-taxonomy-term-reference {
    margin: 0 0 1.2em;
    display: inline-block;
}
.field-type-taxonomy-term-reference .field-label {
    font-weight: normal;
    margin: 0;
    padding-right: 5px;
    /* LTR */
}
.view-mode-teaser .field-type-taxonomy-term-reference .field-label,
.view-mode-teaser .field-type-taxonomy-term-reference ul.links {
    font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
    padding: 0;
    margin: 0;
    list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
    margin-right: 3px;
}
.link-wrapper {
    text-align: right;
}
.field-type-image img,
.user-picture img {
    margin: 0 0 1em;
}
ul.links {
    list-style: none;
}
ul.links.inline li {
    display: inline;
}
ul.links.inline li a {
    display: inline;
    padding: 18px 0 5px;
}
.unpublished {
    margin: -20px -15px 0;
    padding: 20px 15px 0;
}
.unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}
/* Comments */

.comment-form .ajax-progress .throbber {
    position: relative;
    top: -12px;
    background: url(../images/loader-icon.gif);
    width: 40px;
    height: 40px;
    font-size: 0;
}
.comment-form .ajax-progress {
    font-size: 0;
}
.comment h2.title {
    margin-bottom: 1em;
}
.comment .avatar {
    width: 100px;
    margin-right: 30px;
}
.comment div.user-picture img {
    margin-left: 0;
    /* LTR */
    
    width: 100px;
    height: 90px;
}
.comment {
    margin-bottom: 20px;
    display: table;
    vertical-align: top;
}
.comment .submitted p {
    margin: 4px 0;
    font-size: 1.071em;
    line-height: 1.2;
}
.comment .submitted .comment-time {
    font-size: 0.786em;
    color: #68696b;
}
.comment .content {
    font-size: 0.929em;
    line-height: 1.6;
}
.comment .comment-text {
    padding: 10px 25px;
    border: 1px solid #d3d7d9;
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 100%;
}
.comment .comment-text h3 a {
    padding-top: 22px;
}
.comment .indented {
    margin-left: 40px;
    /* LTR */
}
.comment ul.links li {
    padding: 0 0 0 15px;
    text-transform: capitalize;
    border: 0;
}
.comment ul.links li a:before {
    font-family: FontAwesome;
    padding-right: 3px;
}
.comment ul.links .comment-delete a:before {
    content: "\f014";
}
.comment ul.links .comment-reply a:before {
    content: "\f112";
}
.comment ul.links .comment-edit a:before {
    content: "\f044";
}
.comment.unpublished {
    margin-right: 5px;
    /* LTR */
    
    padding: 5px 2px 5px 5px;
    /* LTR */
}
.comment.unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}
/* Sidebar */

.sidebar .section {
    padding-top: 10px;
}
/* System Tabs*/

.tabs {
    margin-bottom: 20px;
}
ul.action-links {
    list-style: none;
    margin: 5px;
    padding: 0.5em 1em;
}
ul.action-links li {
    display: inline-block;
    margin-left: 10px;
}
ul.action-links li a {
    padding-left: 15px;
    margin: 0 10px 0 0;
}
/* Messages */

#messages {
    padding: 0;
    margin: 0 auto;
}
div.messages {
    margin: 8px 15px;
}
/* User Profile */

.profile .user-picture {
    float: none;
}
/* Form Elements */

.node-form .vertical-tabs .fieldset-wrapper {
    margin-top: 0;
}
.filter-wrapper {
    top: 0;
    padding: 1em 0 0.2em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.filter-help a {
    font-size: 0.857em;
    padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
    margin-right: 10px;
}
.filter-wrapper .form-item {
    padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
    padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
    background: transparent;
    border-radius: 0;
}
fieldset legend {
    background: #dbdbdb;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #3b3b3b;
    display: block;
    height: 2em;
    left: -1px;
    /* LTR */
    
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    top: -12px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
fieldset.collapsed legend {
    border-radius: 4px;
}
fieldset legend a {
    color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
    color: #000;
}
fieldset .fieldset-wrapper {
    padding: 0;
}
fieldset .fieldset-description {
    margin-top: 5px;
    margin-bottom: 1em;
    line-height: 1.4;
    color: #3c3c3c;
    font-style: italic;
}
input {
    margin: 0;
    padding: 4px;
}
input,
textarea {
    font-size: 0.929em;
}
textarea {
    line-height: 1.5;
}
input.form-submit:hover,
input.form-submit:focus {
    background: #dedede;
}
.form-text,
.form-textarea {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.password-suggestions ul li {
    margin-left: 1.2em;
    /* LTR */
}
.form-item label {
    font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
    margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
    margin-left: 2px;
}
.form-actions {
    padding-top: 10px;
}
/* Disabled Form Elements */

input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
    background: #ededed;
    border-color: #bbb;
    color: #717171;
}
.form-disabled label {
    color: #717171;
}
/* Animated Throbber */

.js input.form-autocomplete {
    background-position: 100% 4px;
    /* LTR */
}
.js input.throbbing {
    background-position: 100% -16px;
    /* LTR */
}
.ajax-progress .throbber {
    position: relative;
    top: 6px;
    left: 10px;
}
/* Comment Form */

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
    margin-bottom: 10px;
    overflow: hidden;
}
.comment-form .form-item label {
    display: none;
}
.comment-form .text-full {
    height: 150px;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
    margin-left: 120px;
    /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
    float: none;
    margin-top: 0;
}
.comment-form input.form-file {
    width: auto;
}
.comment-form .form-item .description {
    font-size: 0.786em;
    line-height: 1.2;
    margin-left: 120px;
    /* LTR */
}
#edit-actions input {
    margin-right: 0.6em;
    /* LTR */
}
/* Search Form */

#block-search-form {
    padding-bottom: 7px;
}
#block-search-form .content {
    margin-top: 0;
}
#search-form input[type="search"],
#block-search-form input[type="search"] {
    box-sizing: border-box;
    padding: 4px;
    -webkit-appearance: textfield;
}
#search-form input[type="search"]::-webkit-search-decoration,
#block-search-form input[type="search"]::-webkit-search-decoration {
    display: none;
}
#search-form input#edit-keys {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10.9px;
    color: #1c1c1c;
    background: #f2f2f2;
    border: 1px solid #f0f0f0;
    margin: 3px 0px 2px 0;
    -webkit-border-radius: 2px;
}
/* Search Results */

.search-results {
    padding-left: 0;
    padding-top: 15px;
}
.search-results li {
    border-bottom: 1px solid #fafafa;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.search-results li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 1em;
}
.search-results .search-snippet-info {
    padding-left: 0;
}
.page-search .pager-first,
.page-search .pager-last {
    display: none;
}
.page-search .search-form .btn {
    width: 100%;
    margin-top: 10px;
}
.page-search fieldset.search-advanced {
    margin-top: 50px;
}
/* Misc fixes */

.element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    left: 0;
}
.form-text,
.form-textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-text:focus,
.form-textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.img-responsive-surround img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* End Drupal */
/* ==================================================================
	RESET
================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ==================================================================
	SKELETON
================================================================== */

@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
body {
    color: #777777;
    font-size: 12px;
    font-family: 'Lato', serif;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    white-space: normal;
    position: relative;
}
input,
select,
textarea {
    font-size: 16px;
    font-family: 'Droid Serif', serif;
    font-style: normal;
    font-weight: 300;
}
.sound {
    border: 1px solid #fff;
    width: 100%;
}
.alignleft {
    float: left;
    margin: 5px 20px 5px 0;
}
.alignright {
    float: right;
    margin: 20px 0 20px 20px;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.node-type-homepage #messages .alert {
    margin-top: 20px;
}
blockquote {
    border: 0;
    color: #444;
    display: block;
    font-family: 'Droid Serif', serif;
    margin: 10px 0;
    line-height: 2;
    font-size: 18px;
    padding: 20px;
    font-weight: normal;
    font-style: italic;
    background: url(../images/bq.png) no-repeat 20px 25px;
    padding-left: 110px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #444444;
    letter-spacing: 1.2px;
    line-height: 1.2em;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 62px;
    position: relative;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    position: relative;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
}
h4 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}
h5 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
h6 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
p {
    margin-bottom: 20px;
}
a,
a > * {
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover,
a > *:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}
em {
    font-style: italic;
}
strong {
    font-weight: 700;
}
p.lead {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    padding: 0;
    letter-spacing: 0.6px;
    line-height: 1.8;
    font-style: italic;
}
::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #444;
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #444;
}
.border-radius {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
.first {
    clear: both
}
.last {
    margin-right: 0
}
/* ==================================================================
	HEADER
================================================================== */

.myform {
    background: #000;
    color: #fff;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.myform .input-group {
    width: 100%;
}
.myform .container:before {
    color: #fff !important;
    content: "\f002";
    display: inline-block;
    font-family: "FontAwesome";
    left: 30px;
    padding-right: 0;
    position: absolute;
    top: 13px;
}
.myform button,
.myform .input-group-addon {
    display: none;
}
.myform form {
    padding: 0 20px;
}
.myform .form-text::-moz-placeholder {
    color: #fff;
}
.myform .form-text::-webkit-input-placeholder {
    color: #fff;
}
.myform .form-text,
.myform .stylish-input-group input {
    background: transparent;
    border: 0 none;
    height: 50px;
    color: #fff;
    border-radius: 0;
    padding-left: 24px;
    margin: 0;
    width: 100%;
    font-style: normal;
}
.open-search:focus,
.open-search:active {
    color: #fff!important;
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.header.affix {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}
.header.affix .navbar-default {
    padding: 20px 0 !important;
    margin: 0 !important;
}
.header.affix .topbar {
    display: none;
}
.navbar-brand,
.header.affix .navbar-brand {
    margin-top: -20px;
}
.header.affix .navbar-default {
    margin-top: 0
}
.topbar {
    padding: 20px 0;
    z-index: 999;
    position: relative;
}
.topbar a,
.topbar i {
    color: #fff !important;
}
.navbar-default {
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0);
    border: 0;
    margin-top: 30px !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > li > a i,
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-right {
    margin-right: -30px !important;
}
/* ==================================================================
	PORTFOLIO
================================================================== */

.contact-wrapper,
.copyrights,
.teamlist,
.getintouch,
.portfolio-wrapper,
.pricing-wrapper {
    margin-top: 80px;
}
.node-type-homepage .portfolio-wrapper {
    margin-top: 0;
}
.portfolio-filtering {
    list-style: none;
    padding: 0;
    margin: 80px 0 60px 115px;
    text-transform: uppercase;
    text-align: left;
    cursor: default;
}
.portfolio-filtering a {
    display: inline-block;
    margin: 0 12px;
    color: #444;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    -webkit-transition: all 0.37s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    cursor: pointer;
}
.portfolio-filtering span {
    display: none;
    visibility: hidden;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
}
.portfolio-filtering a:hover {
    color: #000;
    text-decoration: none;
}
.portfolio-filtering a.active {
    color: #000;
    cursor: default;
}
.portfolio-filtering a.active {
    color: #111;
    cursor: default;
    position: relative;
    color: #fff;
    padding: 3px 20px;
}
.portfolio-filtering a.active:after,
.portfolio-filtering a.active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.portfolio-filtering a.active:after {
    border-color: rgba(217, 0, 0, 0);
    border-top-color: #d90000;
    border-width: 2px;
    margin-left: -2px;
}
.portfolio-filtering a.active:before {
    border-color: rgba(217, 0, 0, 0);
    border-top-color: #d90000;
    border-width: 6px;
    margin-left: -6px;
}
.portfolio-container {
    list-style: none;
    margin: 0;
    padding: 0;
}
.portfolio-item {
    width: 25%;
    float: left;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.portfolio-item > a {
    display: block;
    padding: 0 0 84px 0;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
.portfolio-item a,
.portfolio-item a:hover {
    color: #111;
    border: none;
}
.portfolio-image {
    position: relative;
    overflow: hidden;
}
.portfolio-image img {
    width: 100%;
    display: block;
    overflow: hidden;
}
.portfolio-hover-desc {
    width: 100%;
    height: 184px;
    padding: 20px 20px 0 20px;
    -webkit-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    overflow: hidden;
}
.portfolio-description {
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
.portfolio-buttons {
    margin-top: 30px;
}
.portfolio-buttons a:hover,
.portfolio-buttons a {
    width: 48px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 37px;
    border-radius: 2px;
    border: 1px solid #fff;
    color: #fff;
}
.node-type-portfolio-item .portfolio-buttons {
    text-align: center;
}
.portfolio-buttons a i {
    color: #fff;
}
.portfolio-hover-title {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.2;
}
.portfolio-container.hover-titles-effect .portfolio-item > a {
    overflow: hidden;
    padding: 0;
}
.portfolio-container.hover-titles-effect .portfolio-item .portfolio-hover-desc {
    opacity: 0;
    bottom: -94px;
}
.portfolio-container.hover-titles-effect .portfolio-item:hover .portfolio-hover-desc {
    opacity: 1;
}
.portfolio-hover-desc {
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.portfolio-item:hover .portfolio-hover-desc {
    color: #fff;
    -webkit-transform: translateY(-99px);
    -moz-transform: translateY(-99px);
    transform: translateY(-99px);
    z-index: 3;
}
.portfolio-item:hover .portfolio-hover-title {
    color: #ccc;
}
.portfolio-item:hover .portfolio-description {
    color: #999;
}
.portfolio-item .portfolio-image:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(217, 11, 11, 0);
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.portfolio-item:hover .portfolio-image:after {
    background: rgba(20, 20, 20, .85);
}
.portfolio-container.hover-color .portfolio-item:hover .portfolio-hover-desc,
.portfolio-container.hover-color .portfolio-item:hover .portfolio-hover-title,
.portfolio-container.hover-color .portfolio-item:hover .portfolio-description {
    color: #fff;
}
.portfolio-container.hover-color .portfolio-item:hover .portfolio-image:after {
    background: #e41919;
    opacity: .73;
}
.portfolio-container.image-hover-red .portfolio-item:hover .portfolio-hover-desc,
.portfolio-container.image-hover-red .portfolio-item:hover .portfolio-hover-title,
.portfolio-container.image-hover-red .portfolio-item:hover .portfolio-description {
    color: #fff;
}
.portfolio-container.image-hover-red .portfolio-item:hover .portfolio-image:after {
    background: rgba(217, 11, 11, .9);
}
.portfolio-item .portfolio-image > img {
    -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.portfolio-item:hover .portfolio-image > img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
/* ==================================================================
	SECTIONS
================================================================== */

.section-parallax,
.section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 0 !important;
    z-index: 100;
}
.white-section {
    background-color: #ffffff;
}
.grey-section {
    background-color: #f6f6f7;
}
.red-section {
    background-color: #d90000;
}
.section-container {
    padding: 30px 0;
}
.grey-shape {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 213px solid #f6f6f7;
    border-right: 550px solid transparent;
}
.white-shape {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 213px solid #fff;
    border-right: 550px solid transparent;
}
.white-shape .fixed {
    background-color: #fff;
}
.white-shape.leftalign {
    right: 0 !important;
    left: auto;
    border-top: 80px solid #fff;
    border-left: 220px solid transparent;
    border-right: 0 solid transparent;
}
.white-shape.rightbottomalign {
    border-bottom: 80px solid #fff;
    border-left: 200px solid transparent;
    border-right: 0 solid transparent;
    border-top: 0 none !important;
    bottom: 0 !important;
    left: auto;
    right: 0 !important;
    top: auto;
}
.parallax-image {
    z-index: 9999;
}
#parallax1 {
    background-image: url(../images/demos/parallax_01.jpg);
}
#parallax2 {
    background-image: url(../images/demos/parallax_02.jpg);
}
#parallax3 {
    background-image: url(../images/demos/parallax_03.jpg);
}
#parallax4 {
    background-image: url(../images/demos/parallax_04.jpg);
}
#parallax5 {
    background-image: url(../images/demos/parallax_05.jpg);
    min-height: 218px;
}
/* ==================================================================
	BLOG STYLES
================================================================== */

.tags {
    margin-top: 30px;
}
.tags h3 {
    font-size: 13px;
}
.tags h3 span {
    font-size: 12px;
    font-weight: 300;
    padding-left: 10px;
    text-transform: uppercase;
}
.tags h3 span li {
    display: inline;
}
.tags h3 span a {
    padding-right: 5px;
}
.comments-answer {
    margin-left: 80px !important;
}
.media-list li {
    padding: 20px;
    margin: 40px 0;
    border-bottom: 1px solid #eeeeee;
}
.media-list .comment-meta {
    font-style: italic !important;
    font-size: 13px;
    color: #aaaaaa;
}
.media-list img {
    margin-right: 10px;
}
.media-list h4 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
}
.media-list a {
    color: #f37264;
}
.singlepage {
    background: url("../images/head.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    bottom: 0;
    height: 5px;
    left: 0;
    position: relative;
    right: 0;
    width: 3000px;
    margin-top: 30px;
    z-index: 9999;
}
.breadcrumb {
    background-color: transparent;
    border-radius: 4px;
    font-weight: 400;
    list-style: outside none none;
    margin-top: -28px;
    padding: 0;
    text-transform: uppercase;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pager > li > a,
.pager > li > span,
.pager > .pager-current {
    background-color: #fff;
    border: 0 solid #ddd;
    color: #444;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px 6px 0;
    border-radius: 0 !important;
    position: relative;
    text-decoration: none;
}
.pager > li > a:hover,
.pager > li > span:hover {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
}
.widget .form-control,
.widget .form-control:focus {
    border-color: #ccc !important;
}
.media-body a {
    font-weight: bold;
}
/* ==================================================================
	SIDEBAR WIDGET STYLES
================================================================== */

.sidebar .block h2 {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 0;
}
.stylish-input-group .input-group-addon {
    background: white !important;
    border-radius: 0 !important;
    border-left: 0;
}
.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    font-style: italic;
    font-size: 13px;
    height: 50px;
    border-radius: 0;
    border-color: #dddddd;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
.widget {
    background: #fff;
    margin-bottom: 40px;
    display: block;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}
.tags-widget a {
    background-color: #fff;
    border: 1px solid #cacaca;
    color: #777;
    float: left;
    font-weight: 400;
    line-height: 1.42857;
    margin-right: 4px !important;
    margin-top: 5px !important;
    border-radius: 0 !important;
    padding: 7px 10px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}
.tags-widget a:hover {
    color: #444;
}
.widget ul {
    padding: 0 10px
}
.widget ul li {
    padding: 4px;
    border-bottom: 1px solid #ddd;
}
.widget ul li:last-child {
    border-bottom: 0 !important;
}
.widget-title h3 {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 0;
}
#pagina .border-normal,
.widget-title .border-normal {
    max-width: 120px;
    margin-left: 0;
    margin-bottom: 0;
}
.widget-title {
    padding: 10px 0 1px;
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.custom {
    padding: 10px 30px;
}
.custom li:before {
    content: "\f101";
    font-family: "FontAwesome";
    font-size: 13px;
    left: 0;
    color: #777;
    padding-right: 11px;
    position: relative;
    top: 1px;
}
.widget .media-heading {
    font-size: 14px;
    letter-spacing: 0;
    margin-bottom: 5px;
    margin-top: 0;
}
.widget .media-body span a {
    font-family: 'Droid Serif', serif;
    font-size: 12px;
    font-style: italic;
}
.widget .media-body span a strong {
    color: #444 !important;
}
.sidebar-popular,
.sidebar-popular ul {
    margin-top: 20px;
    padding: 0;
}
.sidebar-popular .media {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.sidebar-popular .media:last-child {
    border-bottom: 0 solid #ddd;
}
/* ==================================================================
	TITLES
================================================================== */

.portfoliostyle .portfolio-buttons {
    text-align: center;
}
.portfoliostyle .portfolio-hover-desc {
    top: 50% !important;
    margin: 20px auto !important;
    height: auto !important;
}
.blog-container {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 80px;
    padding-bottom: 40px;
}
.post-media {
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.post-media:hover {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7
}
.post-media .icon-container {
    bottom: -50px;
    position: absolute;
    right: 30px;
    z-index: 1;
}
.owl-article .owl-controls {
    bottom: -15%;
}
.post-media-video {
    height: 320px;
    overflow: hidden;
}
.post-media-video iframe {
    width: 848px;
    height: 320px;
    bottom: 0px;
    position: relative;
}
#post-wrapper {
    margin: 80px 0;
}
.post-top {
    margin-top: 40px;
}
.post-media img {
    width: 100%;
}
.post-top .list-inline li {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    color: #777;
    font-size: 13px;
    padding-right: 15px;
    font-weight: normal;
}
.post-top .list-inline li strong {
    font-weight: bold;
    color: #000;
}
.desc {
    margin: 20px 0;
}
.post-top h3 a,
.post-top h3 {
    font-size: 24px;
    letter-spacing: 0;
    color: #444;
}
.center-title .border-title {
    margin: 30px auto;
    width: 100px;
    position: relative;
}
.center-title i {
    padding: 30px 0;
    display: block;
}
.parallax-wrapper h3 {
    font-size: 30px;
    font-weight: 400;
}
.parallax-wrapper .lead {
    font-size: 16px;
}
h3.stat-count {
    font-weight: 900 !important;
}
.parallax-wrapper h3 span {
    font-weight: 900 !important;
}
.stats {
    margin-top: 50px;
}
.stats .border-title {
    position: relative;
    padding: 20px 0;
    width: 120px;
}
.stats i {
    font-size: 18px;
    margin-right: 10px;
}
.parallax-wrapper .stats .mini-title,
.parallax-wrapper h3,
.parallax-wrapper {
    color: #fff;
}
.mini-title {
    font-size: 13px;
}
.mini-title h3 {
    margin-bottom: 30px;
    margin-top: 0;
}
.mini-title .lead {
    margin-bottom: 5px;
    font-size: 18px;
    font-style: italic;
}
.big-title {
    padding-bottom: 30px;
    margin-left: 125px;
    position: relative;
}
.light-title {
    font-size: 34px;
    font-weight: lighter;
    margin-top: 60px;
}
.big-title.fixedleft {
    margin: 0;
    width: auto;
}
.features-widget .border-title.fixleftborder {
    left: -2542px;
}
.features-widget .lead {
    font-size: 16px;
    padding: 50px 0
}
.boxedcontainer {
    max-width: 1170px;
    margin: auto;
    padding: 0px 30px;
}
.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}
.tp-bannertimer {
    display: none;
}
.tp-banner {
    width: 100%;
    position: relative;
}
.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}
.slider_01,
.tp-caption.slider_01 {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 68px;
    font-family: 'Lato', sans-serif;
}
.bottombutton i,
.tp-caption.bottombutton,
.bottombutton {
    color: rgb(255, 255, 255) !important;
}
.slider_02,
.tp-caption.slider_02 {
    color: #fff;
    font-size: 18px;
    font-weight: 400 !important;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.4px;
    line-height: 18px;
    font-family: 'Droid Serif', sans-serif;
}
.tp-caption a {
    color: #fff !important;
}
.tp-caption .btn-default {
    margin-left: 10px;
    border: 2px solid #fff !important;
    background-color: transparent !important;
}
.bxslider h3,
.big-title h3 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.not-front .big-title h3 {
    max-width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bxslider h3 {
    color: #fff;
    font-size: 34px;
}
.bxslider .lead {
    font-size: 16px;
    margin-bottom: 0;
}
.bxslider .big-title {
    margin-left: 0;
}
.bxslider li {
    padding: 0 0 40px;
}
.bxslider p,
.bxslider .lead {
    color: #fff;
}
.bxslider p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.bxslider h3 span,
.big-title h3 span {
    font-weight: 900;
}
.margin-top {
    margin-top: 20px;
}
.nopadding {
    padding: 0;
}
.paddingbottom {
    padding-bottom: 0 !important;
}
.myimg {
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/demos/about_01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}
.textrotate {
    padding: 0 40px 40px;
}
.bx-wrapper .bx-controls-direction a {
    display: none;
}
/* ==================================================================
	CONTACT
================================================================== */

#contact_form h1,
#contact_form h2,
#contact_form h3 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.form-text,
.form-textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: none;
    color: #444;
    display: block;
    font-size: 12px;
    font-family: 'Lato', serif;
    height: 41px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 100%;
    font-weight: normal;
    margin-bottom: 10px;
}
.form-text::-moz-placeholder {
    color: #676767;
}
#contact_form textarea {
    min-height: 143px;
}
.form-text:focus,
.form-textarea:focus {
    border-color: #66afe9;
    box-shadow: none;
}
.contact-list {
    padding: 0 15px;
}
.contact-list h3 {
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
}
.contact-list,
.contact-list h3 span {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
}
#message {
    display: block;
    position: relative;
    text-align: left;
    padding: 20px;
}
#map {
    height: 450px;
    width: 100%
}
#map img {
    max-width: inherit
}
.map {
    position: relative
}
.map .row .col-lg-4 {
    float: right;
    margin-top: -450px;
    z-index: 9
}
.contact-icon {
    margin: 20px 0;
    overflow: hidden;
}
.map .row {
    position: relative
}
.infobox img {
    width: 100% !important;
}
.map .searchmodule {
    padding: 18px 10px
}
.infobox {
    display: inline-block;
    padding: 5px;
    position: relative;
    width: 270px;
}
.infobox img {
    width: 80px !important;
    padding-right: 10px
}
.infobox .title {
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.infobox .title a {
    font-weight: bold;
}
/* ==================================================================
	BUTTONS
================================================================== */

.btn {
    border-radius: 0;
}
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active,
.btn-transparent {
    background-color: transparent;
    border: 2px solid #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #444;
    border-color: #444;
}
.red-section .btn-lg,
.btn-default {
    border-radius: 0;
    border-width: 2px;
    font-size: 12px;
    border-color: #444;
    padding: 12px 32px;
}
.red-section .btn-lg {
    background-color: transparent !important;
}
.btn-primary {
    border-radius: 0;
    border-width: 2px;
    font-size: 12px;
    border-color: #444;
    padding: 12px 32px;
}
.red-section .btn {
    border-color: #fff !important;
}
/* ==================================================================
	WIDGETS
================================================================== */

.footer-social-icons {
    text-align: center;
    margin-top: 50px;
}
.copyrights {
    text-align: center;
}
.copyrights h3 {
    font-size: 10px;
}
.footer-social h3 {
    font-size: 16px;
}
.footer-social-icons .icon-container {
    line-height: 67px;
}
.client-item img {
    margin: auto;
}
.client-item {
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}
.client-item.noborder {
    border-right: 0 solid #ccc;
}
.magnifier p {
    font-size: 12px;
    font-style: normal;
    margin-bottom: 0;
}
.magnifier .teamdesc {
    padding: 0
}
.magnifier .buttons {
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    width: 100%;
    top: 0;
    padding: 20px;
    left: 0;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    -ms-transition: all .3s ease 0;
    -o-transition: all .3s ease 0;
    transition: all .3s ease 0;
}
.magnifier .buttons p {
    margin: 10px 0;
    color: #fff;
}
.magnifier:hover .buttons {
    opacity: 1;
    visibility: visible;
}
.entry:hover .magnifier {
    opacity: 1;
    visibility: visible;
}
.entry {
    display: block;
    overflow: hidden;
    position: relative;
}
.magnifier {
    position: absolute;
    background: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    top: 0;
    left: 0;
    z-index: 998;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.magnifier {
    background: rgba(217, 11, 11, 1);
}
.entry img {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
}
.entry:hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.magnifier .buttons h3 a,
.magnifier .buttons h3 {
    margin: 20px 0 0 !important;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
}
.magnifier .buttons i {
    color: #fff;
}
.magnifier .buttons .social li {
    border-color: #fff;
}
.social {
    display: inline-block;
    left: 0;
    list-style: outside none none;
    margin: 10px auto 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: auto;
}
.social li {
    display: inline-block;
    padding: 0;
}
.social li {
    border-right: 1px solid #aeaeae;
}
.social li:last-child {
    border-right: 0 solid #666666;
}
.social li i,
.social li a {
    font-size: 14px;
    color: #505050;
}
.social li i {
    color: #505050;
}
.social li a,
.social li {
    display: inline-block;
    float: none !important;
    margin: 0 !important;
    padding: 0 6px !important;
    height: 20px !important;
    line-height: 20px !important;
}
.header .social li:hover .fa-twitter,
.social li:hover .fa-twitter {
    color: #4dd2ff !important;
}
.header .social li:hover .fa-behance,
.social li:hover .fa-behance {
    color: #1164f5 !important;
}
.header .social li:hover .fa-dribbble,
.social li:hover .fa-dribbble {
    color: #ea4c89 !important;
}
.header .social li:hover .fa-linkedin,
.social li:hover .fa-linkedin {
    color: #0274b3 !important;
}
.header .social li:hover .fa-facebook,
.social li:hover .fa-facebook {
    color: #3b5998 !important;
}
.header .social li:hover .fa-youtube,
.social li:hover .fa-youtube {
    color: #e52d27 !important;
}
.header .social li:hover .fa-envelope-o,
.social li:hover .fa-envelope-o {
    color: #222 !important;
}
.teambox {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.teamdesc {
    padding: 40px 40px 70px;
}
.teamdesc p {
    font-size: 12px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
}
.teamdesc h3 {
    line-height: 1;
    font-size: 15px;
}
.teambox img {
    width: 100%;
}
.box {
    position: relative;
    width: 175px;
    height: 144px;
    color: #444;
    line-height: 3.7;
    padding-top: 40px;
    border: 1px solid #444;
    text-align: center;
    background: #fff;
}
.box h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
}
.box i {
    font-size: 24px;
}
.box a {
    color: #444;
}
.video-play i,
.box-red a,
.box-red a:hover,
.box-red a:focus,
.box-red a:active,
.box-red i,
.box-red h3 {
    color: #fff;
}
.video-play {
    padding: 100px 0
}
.video-play i {
    font-size: 100px;
}
.getintouch .lead {
    font-size: 14px;
    padding-top: 20px;
}
.makepadding {
    padding-top: 80px;
}
.pricing-table {
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table:hover {
    -webkit-box-shadow: 0px 0px 0px 6px rgba(50, 50, 50, 0.82);
    -moz-box-shadow: 0px 0px 0px 6px rgba(50, 50, 50, 0.82);
    box-shadow: 0px 0px 0px 6px rgba(50, 50, 50, 0.82);
}
.pricing-table.premium .btn,
.pricing-table.premium .pricing-icon-container h2,
.pricing-table.premium .pricing-icon-container {
    color: #fff;
}
.pricing-table.premium .pricing-header {
    background: #f6f6f7;
}
.pricing-header {
    padding: 40px;
}
.pricing-bottom {
    padding: 40px;
    background: url("../images/head.png") repeat-x scroll top center #f6f6f7;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
}
.pricing-bottom ul {
    margin-bottom: 30px;
}
.pricing-bottom li {
    margin: 10px 0;
}
.pricing-icon-container {
    width: 139px;
    height: 139px;
    font-style: italic;
    padding-top: 31px;
    position: relative;
    font-size: 12px;
    line-height: 2.4;
    font-family: 'Droid Serif', serif;
    margin: 50px auto 25px;
    border: 1px solid #444;
    -webkit-box-shadow: 0px 0 0px 5px rgba(50, 50, 50, 0.04);
    -moz-box-shadow: 0px 0 0px 5px rgba(50, 50, 50, 0.04);
    box-shadow: 0px 0 0px 5px rgba(50, 50, 50, 0.04);
}
.pricing-icon-bubble {
    width: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    bottom: -7px;
    background: #444;
    right: 0px;
    font-size: 11px;
    font-family: 'Droid Serif', serif;
    margin: 0;
    border: 3px solid #f6f6f7;
}
.pricing-icon-container p {
    margin: 0 !important;
}
.pricing-icon-container h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 0;
    font-style: normal;
    margin: 0;
}
.pricing-header h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.relative {
    position: relative !important;
}
.fix-bottom {
    bottom: -11px !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: 100%;
    z-index: 10;
}
#testimonials {
    position: relative;
}
#testimonials .testimonial {
    border: 0 none;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 5;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -ms-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
#testimonials .testimonial.active {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=1);
}
#testimonials .testimonial-nav {
    display: table;
    margin: 151px auto 0;
    overflow: hidden;
    position: relative;
    z-index: 999;
}
#testimonials .testimonial-nav li {
    padding: 0;
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    margin: 30px 5px;
}
#testimonials .testimonial-nav a img {
    width: 60px;
    height: 60px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
}
.testimonial h3 {
    font-size: 14px;
    text-transform: uppercase;
}
.testimonial p {
    font-family: 'Droid Serif', serif;
    font-size: 11px;
    font-style: italic;
}
#testimonials .testimonial-nav a.active img {
    width: 80px;
    height: 80px;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=10);
}
#testimonials {
    margin-top: 60px;
}
#testimonials .lead {
    font-size: 20px;
}
.circle-stat canvas {
    -webkit-box-shadow: 0px 0 0px 7px rgba(50, 50, 50, 0.14);
    -moz-box-shadow: 0px 0 0px 7px rgba(50, 50, 50, 0.14);
    box-shadow: 0px 0 0px 7px rgba(50, 50, 50, 0.14);
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
.circle-stat {
    position: relative;
}
.circle-stat p {
    background-color: #fff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    font-size: 34px;
    font-weight: lighter;
    height: 137px;
    left: 0;
    margin: -20px auto;
    position: absolute;
    right: 0;
    top: 56%;
}
.stat-details {
    left: 0;
    position: absolute;
    right: 0;
    top: 71%;
    border-top: 1px solid #ddd;
    display: block;
    margin: auto;
    padding-top: 25px;
}
.stat-details h3 {
    font-size: 20px;
}
.stat-details h4 {
    padding-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-size: bold;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}
.tab-content > .active,
.pill-content > .active {
    display: block;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
.tabs-left > .nav-tabs {
    float: left;
    margin-right: 30px;
    border-bottom: 1px solid #ddd;
    border-right: 0 solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    border: 0 !important;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: transparent !important;
}
.tabs-left > .nav-tabs > li {
    width: 55px;
    height: 55px;
    line-height: 52px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    background-color: transparent;
    border: 2px solid #444;
    color: #444;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:active {
    background: #d90000;
    font-weight: bold;
}
.tab-pane .fa-quote-right {
    font-size: 24px;
    color: #ccc;
    padding-right: 10px;
    padding-bottom: 10px;
}
.tab-pane h3 span {
    font-size: 24px;
    font-weight: bold;
}
.tab-pane {
    padding: 10px 0;
}
.tab-pane h3 {
    padding-bottom: 20px;
    font-size: 15px;
}
.nav-tabs > li > a {
    border: 0 solid transparent;
    border-radius: 0;
    line-height: inherit;
    margin-right: 2px;
    padding: 0 !important;
}
.tabs-left > .nav-tabs > li:hover i,
.tabs-left > .nav-tabs > li:active i,
.tabs-left > .nav-tabs > li.active i {
    color: #fff !important;
}
.tabs-left > .nav-tabs > li:hover,
.tabs-left > .nav-tabs > li:active,
.tabs-left > .nav-tabs > li.active {
    -webkit-box-shadow: 0px 0 0px 7px rgba(50, 50, 50, 0.14);
    -moz-box-shadow: 0px 0 0px 7px rgba(50, 50, 50, 0.14);
    box-shadow: 0px 0 0px 7px rgba(50, 50, 50, 0.14);
}
.ipad-vide {
    position: relative;
}
.ipad-vide .col-1 {
    position: absolute;
    top: 0%;
    left: 10%;
    z-index: 100;
}
.ipad-vide .col-2 {
    position: absolute;
    bottom: 0;
    right: 0%;
    z-index: 100;
}
/* ==================================================================
	SERVICES
================================================================== */

.service-box {
    border: 1px solid #ddd;
    padding: 20px 15px;
    cursor: pointer;
}
.service-text {
    padding: 60px 0 33px;
}
.service-box:hover {
    background-color: #f6f6f7;
    border-color: #f6f6f7;
    -webkit-box-shadow: 0px 3px 0 0px rgba(100, 100, 100, 0.32);
    -moz-box-shadow: 0px 3px 0 0px rgba(100, 100, 100, 0.32);
    box-shadow: 0px 3px 0 0px rgba(100, 100, 100, 0.32);
}
.service-box h3 {
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 0 20px;
    margin-bottom: 0;
}
.service-box.noborder {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.service-box.noborder:hover .icon-container {
    color: #fff;
}
.icon-container {
    width: 70px;
    height: 70px;
    line-height: 75px;
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    margin: 30px auto 20px;
    overflow: hidden;
    background-color: #444444;
}
.icon-container.fixleft {
    margin: 30px 0 20px;
    width: 64px !important;
    font-size: 24px;
    height: 64px !important;
    line-height: 64px !important;
}
.service-box.fixleft {
    padding: 20px 0;
}
.service-box.noborder .icon-container {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    margin-bottom: 30px;
    background-color: transparent;
    border: 2px solid #444;
    color: #444;
}
.fixed {
    background: #fff;
    border: 10px solid #fff;
    color: #444;
    height: 90px;
    left: 0;
    margin: -145px 0 0 213px;
    padding: 0;
    line-height: 2.6;
    position: relative;
    right: 0;
    width: 90px;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(100, 100, 100, 0.31);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(100, 100, 100, 0.31);
    box-shadow: inset 0px 0px 0px 1px rgba(100, 100, 100, 0.31);
}
.fixed:hover {
    color: #fff;
    box-shadow: none;
}
.border-title {
    background: url("../images/head.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    width: 3000px;
    z-index: 9999;
}
.teambox .border-hover {
    margin: 39.5px auto;
}
.teambox .magnifier .social {
    margin-top: 20px;
}
.border-hover {
    background: url("../images/border-hover.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    bottom: 0;
    height: 5px;
    left: 0;
    margin: 40px auto;
    position: relative;
    right: 0;
    width: 100px;
    z-index: 9999;
}
.border-normal {
    background: url("../images/border-normal.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    bottom: 0;
    height: 5px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    width: 100%;
    z-index: 9999;
}
.container {
    position: relative;
}
.border-title.fixleftborder {
    bottom: 0;
    height: 5px;
    left: -2720px;
    position: absolute;
    right: auto;
    width: 3000px;
    z-index: 9999;
}
#notfound {
    background: url(../images/demos/slider_01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#notfound h1 {
    color: #fff;
    font-family: Georgia;
    font-size: 16em;
    padding: 200px 0 20px;
    text-align: center;
    text-shadow: 10px 13px rgba(0, 0, 0, 0.3);
}
#notfound h3 {
    color: #fff;
    font-family: Georgia;
    text-align: center;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.3);
}
#notfound .btn-transparent {
    border-color: #fff !important;
    color: #fff !important
}
/* ==============================
TABLET LANDSCAPE -->
============================== */

@media only screen and (max-width: 992px) {
    .border-title.fixleftborder {
        bottom: 0;
        height: 5px;
        left: 0;
        position: relative;
        right: auto;
        width: 100%;
        z-index: 9999;
    }
    .portfolio-item {
        width: 50%;
    }
    .ipad-vide {
        margin-top: 130px;
    }
    .circle-stat {
        margin: 60px 0;
    }
    #testimonials .lead {
        font-size: 14px;
    }
    .bxslider h3,
    .big-title h3 {
        text-align: left;
    }
}
/* ==============================
TABLET -->
============================== */

@media only screen and (max-width: 768px) {
    .portfolio-filtering a {
        padding-left: 10px;
        padding-right: 10px;
        margin: 4px;
    }
    .stats {
        text-align: center;
    }
    .big-title {
        margin-left: 0;
        padding-bottom: 30px;
        position: relative;
        padding-top: 80px;
        text-align: center;
    }
    .service-box {
        margin-top: 20px !important;
    }
    .circle-stat {
        margin: 60px 0;
    }
    .border-title {
        display: none;
    }
    #testimonials .lead {
        font-size: 10px;
    }
    .portfolio-filtering {
        margin-left: 0;
    }
    .ipad-vide {
        margin-top: 130px;
    }
    .box {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .portfolio-filtering a {
        padding-left: 10px;
        padding-right: 10px;
        margin: 4px;
        width: 46%;
        font-size: 11px;
    }
    .topbar .social {
        text-align: center !important
    }
    .header,
    .navbar-default {
        background: #000;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: 0
    }
    .navbar-toggle {
        padding: 4px 11px;
    }
    .navbar-toggle:hover {
        background: #000 !important;
    }
    .navbar-default .navbar-toggle {
        border-color: #444;
        color: #fff;
    }
    .navbar-default .navbar-toggle span {
        color: #fff;
    }
}
/* ==============================
PHONE -->
============================== */

@media only screen and (max-width: 480px) {
    .portfolio-filtering a {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .breadcrumb {
        display: none;
    }
    .portfolio-item {
        width: 100%;
    }
}
/* ==============================
OTHERS -->
============================== */

#loader {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: #fff;
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 99999;
}
.loader-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 12;
    text-align: center;
}
.loader-back-logo {
    margin-top: -10px;
    font-size: 26px;
}
.loader {
    margin-top: 10px;
    margin-left: 0px
}
#contact_form .loader {
    margin-left: 26px;
    margin-top: 10px;
    vertical-align: middle;
}
.loader-back-text {
    z-index: -1;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: -20px auto;
}
.uppercase {
    text-transform: uppercase;
}